<div class="titulo">
  <p>Vaga</p>
</div>

<div class="tabela-vaga">
   <strong>{{vaga.descricao}}</strong>
</div>

<hr>

<div class="titulo">
  <p>Tecnologias da vaga</p>
</div>

<div class="tabela-vazia" *ngIf="vaga.tecnologias!.length == 0">
  <strong>Vaga sem tecnologias cadastradas</strong>
</div>

<div class="tabela" *ngIf="vaga.tecnologias!.length != 0">
  <table>
    <tr>
      <th>Descricao</th>
      <th>Peso</th>
    </tr>
    <tr *ngFor="let tecnologia of vaga.tecnologias">
      <td>{{tecnologia.descricao}}</td>
      <td>{{tecnologia.peso}}</td>
    </tr>
  </table>
</div>

<hr>

<div class="titulo">
  <p>Candidatos</p>
</div>

<div class="tabela" *ngIf="vaga.candidatos!.length !=0">
  <table>
    <tr>
      <th>Nome</th>
      <th>Sobrenome</th>
      <th>Idade</th>
      <th>Pontuação das tecnologias conhecidas</th>
    </tr>
    <tr *ngFor="let candidato of vaga.candidatos">
      <td>{{candidato.nome}}</td>
      <td>{{candidato.sobrenome}}</td>
      <td>{{candidato.idade}}</td>
      <td>{{candidato.pontuacao}}</td>


    </tr>
  </table>
</div>

