.footer {
  position: fixed;
  bottom: 0px;
  display: flex;
  justify-content: center;
  background-color: black;
  color: white;
  background-image: linear-gradient(gray, black);
  align-items: center;

}





