form{
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.mat-box{
  width: auto;
}

.box{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

button{
  background-color: lightblue;
  margin-right: 50px;
}

button:hover{
  background-color: teal;
}

.tabela{
  width: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

table{
  border-style: solid;
  border-width: 1px;
  border-color: cadetblue;
  background-color: white;
  box-shadow: 2px 2px 2px black;
  margin-top: 50px;
  border-radius: 5px;
}

td{
  border-left-style: dashed;
  border-left-width: 1px;
  border-left-color: cadetblue;
  border-bottom-color: black;
  border-bottom-style: dashed;
  border-bottom-width: 1px;
  border-bottom-color: cadetblue;
}

.alterar:hover{
  cursor: pointer;
  background-color: lightblue;
  border-radius: 5px;
}

.deletar:hover{
  cursor: pointer;
  background-color: lightblue;
  border-radius: 5px;
}

.icon{
  color: lightseagreen;
  cursor: pointer;
}

.icon:hover{
  color: green;
}

.add{
  border: none;
}

.salvar-nova-tecnologia{
  margin: 5px;
  width: 60px;
}

.invisivel{
  display: none;
}

.adicionar{
  margin-top: 20px;
  width: 100px;
}

.peso{
  border-bottom-style: solid;
  border-block-width: 1px;
  border-color: gray;
  width: 50px;
}

#nova-tecnologia{
  display: contents;
}
